{% extends 'practice/base.html' %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h4>{{problem.problemname}}</h4>
        <p class="card-text">{{problem.description}}</p>
    </div>
</div>

<form action='{% url 'practice:submit' problem.problemid %}' method="POST">
{% csrf_token %}
        <fieldset>
          <div class="form-group">
            <textarea <input type="text" name="code" id="code" class="form-control" rows="20" ></textarea>
          </div>
          <div class="form-group">
            <label >Select Language</label>
            <select name="language" id="language" class="form-select">
              <option >C++</option>
            </select>
          </div> 
          <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>  
</form>

{% endblock %}